.fade-in {
  animation: fade-in 0.5s ease forwards;
  &--half {
    animation: fade-in 0.25s ease forwards;
  }
}

.fade-out {
  animation: fade-out 0.5s ease forwards;
  &--half {
    animation: fade-out 0.25s ease forwards;
  }
}

.scale-up {
  animation: scale-up 0.5s ease forwards;
}
