.shopping-cart {
  &__item {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    .item {
      &__column {
        align-items: center;
        flex: 1;
        &:nth-child(3) {
          justify-content: flex-end;
        }
      }
      &__image {
        height: 100px;
        width: 100px;
      }
      &__name,
      &__price {
        font-family: $fontTangerine;
        font-size: 2.2rem;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .shopping-cart {
    &__item {
      flex-wrap: wrap;
      padding: 10px;
      .item {
        &__column {
          align-items: center;
          flex: none;
          width: 50%;
          &:nth-child(3) {
            justify-content: flex-end;
            width: 100%;
          }
        }
        &__image {
          height: 100px;
          width: 100px;
        }
        &__name,
        &__price {
          font-family: $fontTangerine;
          font-size: 2.2rem;
          font-weight: 700;
        }
      }
    }
  }
}
