.catalogue {
  &__item {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 30px;
    .item {
      &__column {
        flex: 1;
        &:nth-child(1) {
          justify-content: flex-start;
        }
        &:nth-child(2) {
          text-align: right;
        }
      }
      &__description {
        color: darkgray;
        font-weight: 600;
        line-height: 1.4rem;
        max-height: calc(1.4 * 4rem);
        overflow-y: hidden;
      }
      &__image {
        height: 100px;
        width: 100px;
      }
      &__name {
        font-family: $fontTangerine;
        font-size: 2rem;
        font-weight: 600;
      }
      &__price {
        font-size: 1.6rem;
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .catalogue {
    &__item {
      flex-wrap: wrap;
      .item {
        &__column {
          display: block;
          flex: auto;
        }
        &__image {
          width: 100%;
        }
      }
    }
  }
}
