.catalogue {
  &__item {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 30px;
    .item {
      &__column {
        flex: 1;
        &:nth-child(1) {
          justify-content: flex-start;
        }
        &:nth-child(2) {
          text-align: right;
        }
      }
      &__description {
        color: darkgray;
        font-weight: 600;
      }
      &__image {
        height: 100px;
        width: 100px;
      }
      &__name {
        font-family: $fontTangerine;
        font-size: 2rem;
        font-weight: 600;
      }
      &__price {
        font-size: 1.6rem;
        text-align: right;
      }
    }
  }
}
