// General settings for the application

.body {
  font-family: "Roboto", sans-serif;
}

.border-bottom {
  background-color: $black;
  height: 2px;
  margin: 40px auto 20px auto;
  padding: 0 20%;
  width: 100%;
}

.flex {
  display: flex;
  &--center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.switch-wrapper {
  height: calc(100% - 150px);
  position: relative;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
